
html, body {
  height: 100%;
}

h1 {
  text-align: center;
  margin: 0px;
}

header {
  display: flex;
  background: #1c262f;
  color: #fff;
  height: 70px;
  line-height: 2;
}

.title {
  width: 100%;
}

.icon, header {
  line-height: 2
}

.icon {

  padding-left: 10px;
  color: #02b3e4;
  cursor: pointer;
}

#map {
  height: 100vw;
}